html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

body{
    box-sizing: border-box;
    background: -webkit-linear-gradient(rgba(34,193,195,1), rgba(166,45,253,0.6113795860140931));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}